@import 'form';
@import 'color-wheel';


$lpanel-width: 20%;
$card-width: 63mm;
$card-height: 88mm;

$card-ratio: $card-width / $card-height;


div#container {
	display: table;
	height: 100%;
	width: 100%;
	overflow: scroll;
	div {
		display: table-cell;
		vertical-align: top;
	}
	#result-pad {
		width: $lpanel-width;
		min-width: 200px;
	}
	#result {
		padding-left: 6px;
	}
}
#lpanel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: $lpanel-width;
	min-width: 200px;

	background: #eee;
	box-shadow: inset -50px 0px 50px -30px #999;
}
div#search {
	padding: 1em;

	//height: 100%;
	input[type='text'] {
		width: 100%;
	}
}


.card-view {
	//visibility: hidden;
}


.card {
	max-width: $card-width;
	max-height: $card-height;

	position: relative;
	overflow: hidden;

	background-color: #000;
	margin: 3px;
	color: #fff;

	.card-view, .card-view > img, .card-data {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}


/* Animation stuff */
.card-view {
	&, > img {
		perspective: 1000px;
		transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	// flip cards
	&.flipped {
		transform: rotate(-180deg);
	}

	// split cards
	&.split-1 { transform: rotate(90deg) scale(1 / $card-ratio)	translate(0, -25%); }
	&.split-2 { transform: rotate(90deg) scale(1 / $card-ratio)	translate(0,  25%); }

	// double-faced cards
	&.turned > img.front, &:not(.turned) > img.back {
		backface-visibility: hidden;
		z-index: 1; // fix ordering issue
		&.front { transform: rotateY(-180deg) }
		&.back  { transform: rotateY( 180deg) }
	}
}

div#result .card {
	float: left;
	width: 18vw;
	height: 18vw / $card-ratio;

	&:hover {
		box-shadow:
			0px 0px 0px 1px rgba(0, 0, 0, 1),
			0px 0px 3px 2px rgba(120, 120, 120, 1);
	}
}

div#wheel {
	@include color-wheel(100px);
	margin: 5px;
	> i:hover {
		box-shadow: 0px 0px 2px 1px #000;
	}
}
