doctype html
html
	head
		title= pageTitle
		script(src="js/jquery.js")
		script(src="js/prefixfree.min.js")
		script(src="js/main.js")
		link(rel='stylesheet', href="css/normalize.css")
		link(rel='stylesheet', href="css/style.css")
	body
		block body

