doctype html
html
	head
		title= pageTitle
		link(rel='stylesheet', href="/css/print.css")
		script(src="/js/jquery.js")
		script(src="/js/cards.js")
		script.
			$(function () {
				$('.card img').bind('load', loadSuccess)
			});
	body
		- each card in cards
			figure.card
				div.card-view
					img.front(src= card.src, alt= card.name)
