form
	input(type='text' name='name' autofocus)
	input(type='text' name='text')
	div(id='wheel')
		input(type='checkbox' name='white' class='white')
		input(type='checkbox' name='blue' class='blue')
		input(type='checkbox' name='black' class='black')
		input(type='checkbox' name='red' class='red')
		input(type='checkbox' name='green' class='green')
	select(name='type')
		option(value='') All
	input(type='text' name='subtype')
	//select(name='subtype')
		option(value='') All
	input(type='range' name='cmc' min='-1' max='10' value='-1')
