table {
	border: 1px solid #ccc;
	width: 100%;
}
thead {
	background: #bbb;
}
th, td {
	white-space: nowrap;
	border-left: 1px solid #ccc;
	padding: 0.7ex 1em;
}
tr:nth-child(even) {
	background: #ededed;
}
div#result img {
	width: 100%;
}
div#result div {
	float: left;
	width: 200px;
}
/*td:nth-child(2) {
	white-space: normal;
}*/
